DATABASE_URL="postgresql://user:pass@ep-xxx.neon.tech/neondb?sslmode=require"
NEXT_PUBLIC_PARTYKIT_HOST="localhost:1999"
ELEVENLABS_API_KEY="your-elevenlabs-api-key-here"
ELEVENLABS_VOICE_ID="your-voice-id-here"
